@each $key, $val in $width-percentages {
  .w-max-#{$key} {
    max-width: $val;
  }

  @each $bp, $px in $breakpoints {
    @include respond-to(#{$px}) {
      .w-max-#{$bp}-#{$key} {
        max-width: $val !important;
      }
    }
  }

  .w-min-#{$key} {
    min-width: $val;
  }

  @each $bp, $px in $breakpoints {
    @include respond-to(#{$px}) {
      .w-min-#{$bp}-#{$key} {
        min-width: $val !important;
      }
    }
  }

  .w-#{$key} {
    width: $val;
  }

  @each $bp, $px in $breakpoints {
    @include respond-to(#{$px}) {
      .w-#{$bp}-#{$key} {
        width: $val !important;
      }
    }
  }
}
