$transition-text-colors: (
  dark: $dark-colors,
  light: $light-colors
);

@each $color-key, $color-map in $transition-text-colors {
  @each $color, $color-value in $color-map {
    .bg-#{$color} {
      // Determain text color to maintain contrast
      @if ($color-key == dark) {
        --text-color: #{$white};
      } @else {
        --text-color: #{$text-main};
      }

      background-color: $color-value;
      @extend .transition-all;
    }
  }
}
